In [1]:
import selenium
from selenium import webdriver 
import pandas as pd
from selenium .webdriver.common.by import By
import warnings 
warnings.filterwarnings("ignore")

In [2]:
driver = webdriver.Chrome('chromedriver.exe')

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [5]:
search_job.send_keys("Data Analyst")

In [6]:
search_locn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [7]:
search_locn.send_keys("Bangalore")

In [8]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [9]:
search_btn.click()

In [10]:
title_tags=driver.find_elements(By.XPATH,'(//a[@class="title fw500 ellipsis"])') 
print(len(title_tags))

20

In [11]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [12]:
job_titles

['Data Analyst I',
 'Data Science / Data Engineer / Business Analyst / Full Stack Developer',
 'Sr.Business Data Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Data Analyst / Business analyst - US MNC (analytics)',
 'Business Analyst/Data Analyst',
 'Junior Data Analyst',
 'Senior Data Analysis Analyst',
 'Data Analyst - Python/SQL',
 'Data Analyst',
 'Data Analyst - IT',
 'Data Analyst',
 'Senior Data Analyst',
 'Master Data Management Business Analyst',
 'Data Analyst / Data Source Engineer - SOQL/SOSL',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst - R/Tableau']

In [13]:
company_tags=driver.find_elements(By.XPATH,'(//a[@class="subTitle ellipsis fleft"])') 
print(len(company_tags))

20

In [14]:
company_names = []
for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [15]:
company_names

['Cerner',
 'NETWORTH DATA PRODUCTS PRIVATE LIMITED',
 'Collabera',
 'Hudsons bay Company (HBC)',
 'Thomson Reuters',
 'K12 Techno Services Pvt Ltd',
 'Aspyra HR Services',
 'Telamon HR Solutions',
 'ICF Next',
 'Capco',
 'Affine',
 'Everest Fleet Pvt. Ltd.',
 'Yespired',
 'Thomson Reuters',
 'KrazyBee',
 'Accenture',
 'Talent Placers',
 'RGBSI',
 'Botree Software',
 'Jobs Accuracy']

In [16]:
loc_tags=driver.find_elements(By.XPATH,'(//li[@class="fleft grey-text br2 placeHolderLi location"])') 
print(len(loc_tags))

20

In [17]:
Location = []
for i in loc_tags:
    Location.append(i.text)
len(Location)

20

In [18]:
Location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Delhi / NCR',
 'Bangalore/Bengaluru, New Delhi',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Thane, Hyderabad/Secunderabad, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [19]:
exp_tags=driver.find_elements(By.XPATH,'(//li[@class="fleft grey-text br2 placeHolderLi experience"])') 
print(len(exp_tags))

20

In [20]:
experience = []
for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [21]:
jobs=pd.DataFrame()
jobs['job-title']=job_titles
jobs['Location']=Location
jobs['company_name']=company_names
jobs['experience_required']=experience
jobs[0:10]

,job-title,Location,company_name,experience_required
0,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
1,Data Science / Data Engineer / Business Analys...,Bangalore/Bengaluru,NETWORTH DATA PRODUCTS PRIVATE LIMITED,0-3 Yrs
2,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Hudsons bay Company (HBC),3-4 Yrs
4,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
5,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,K12 Techno Services Pvt Ltd,4-9 Yrs
6,Data Analyst / Business analyst - US MNC (anal...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",Aspyra HR Services,2-7 Yrs
7,Business Analyst/Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, D...",Telamon HR Solutions,3-5 Yrs
8,Junior Data Analyst,"Bangalore/Bengaluru, New Delhi",ICF Next,1-6 Yrs
9,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs

# Q2

In [22]:
url='https://www.naukri.com/'
driver.get(url)

In [23]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [24]:
search_job.send_keys("Data Scientist")

In [25]:
search_locn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [26]:
search_locn.send_keys("Bangalore")

In [27]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [28]:
search_btn.click()

In [29]:
title_tags=driver.find_elements(By.XPATH,'(//a[@class="title fw500 ellipsis"])')

In [30]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [31]:
job_titles

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Hiring For Senior Data Scientist',
 'Senior Data Scientist',
 'Dataiku Consultant',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Principal - Data Scientist',
 'Data Scientist- Assistant Manager/Manager',
 'EY GBS - Assistant Director - Data Science (10+ years), Bangalore',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence']

In [32]:
loc_tags=driver.find_elements(By.XPATH,'(//li[@class="fleft grey-text br2 placeHolderLi location"])')

In [33]:
Location = []
for i in loc_tags:
    Location.append(i.text)
len(Location)

20

In [34]:
Location

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, REMOTE',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [35]:
company_tags=driver.find_elements(By.XPATH,'(//a[@class="subTitle ellipsis fleft"])')

In [36]:
company_names = []
for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [37]:
company_names

['Wipro',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Spiceworks',
 'Wipro',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Schneider Electric',
 'Genpact',
 'EYGBS',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro',
 'IBM']

In [38]:
jobs=pd.DataFrame()
jobs[' job-title']=job_titles
jobs['company_name']=company_names
jobs['job-location']=Location
jobs[0:10]

,job-title,company_name,job-location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Pune"
2,Senior Data Scientist,Spiceworks,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
3,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
4,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
5,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
6,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
7,Data Science - Engineering Manager,Paytm,"Bangalore/Bengaluru, Noida, Mumbai"
8,Data Scientist,Applied Materials,Bangalore/Bengaluru
9,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru

# SEL Q3

In [49]:
url='https://www.naukri.com/'
driver.get(url)

In [50]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [51]:
search_job.send_keys("Data Scientist")

In [53]:
search_locn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [54]:
search_locn.send_keys("Delhi/NCR")

In [55]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [56]:
search_btn.click()

In [57]:
salary_check = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salary_check

In [58]:
salary_check.click()

In [59]:
search_locn=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[13]/div[2]/div[3]/label/p/span[1]")
search_locn.click()

In [60]:
title_tags=driver.find_elements(By.XPATH,'(//a[@class="title fw500 ellipsis"])') 
print(len(title_tags))

20

In [61]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [62]:
job_titles

['DigitalBCG GAMMA Data Scientist',
 'Data Scientist - Noida/Bangalore',
 'Senior Associate - Data Science',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - MIND Infotech',
 'Data Science Associate',
 'Data Scientist - Engine Algorithm',
 'Knowledge/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Machine Learning Seniors',
 'Data Science',
 'Data Science',
 'Data Scientist',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Dot Net Developer',
 'Data Engineer']

In [63]:
loc_tags=driver.find_elements(By.XPATH,'(//li[@class="fleft grey-text br2 placeHolderLi location"])') 
print(len(loc_tags))

20

In [64]:
Location = []
for i in loc_tags:
    Location.append(i.text)
len(Location)

20

In [65]:
Location

['New Delhi, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Noida',
 'Delhi / NCR(Vaishali)',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Hyderabad/Secunderabad, New Delhi',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Gurgaon/Gurugram',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram',
 'Mumbai, New Delhi, Pune']

In [66]:
company_tags=driver.find_elements(By.XPATH,'(//a[@class="subTitle ellipsis fleft"])') 
print(len(company_tags))

20

In [67]:
company_names = []
for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [68]:
company_names

['Boston Consulting Group',
 'EXL',
 'Black Turtle',
 'SECUREKLOUD TECHNOLOGIES',
 'SECUREKLOUD TECHNOLOGIES',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Kreate Energy',
 'Primo Hiring',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Sydata Consulting India Pvt Ltd',
 'Walking Tree Consultancy Services pvt Ltd',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Kellton Tech Solutions',
 'Shriram Automall',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Nibha Infotech Private Limited',
 'excellence']

In [69]:
exp_tags=driver.find_elements(By.XPATH,'(//li[@class="fleft grey-text br2 placeHolderLi experience"])') 
print(len(exp_tags))

20

In [70]:
experience = []
for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [71]:
experience

['2-5 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '4-8 Yrs',
 '2-4 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '4-9 Yrs']

In [72]:
jobs=pd.DataFrame()
jobs['job-title']=job_titles
jobs['job-location']=Location
jobs['company name']=company_names
jobs['experience required']=experience
jobs[1:10]

,job-title,job-location,company name,experience required
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Data Science Associate,Delhi / NCR(Vaishali),Kreate Energy,2-4 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

# SEL Q4

In [73]:
url='https://www.flipkart.com/'
driver.get(url)

In [74]:
search = driver.find_element(By.CLASS_NAME,"_3704LK")
search

In [75]:
search.send_keys("sunglasses")

In [76]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [78]:
search_btn.click()

In [79]:
Brand_tags=driver.find_elements(By.XPATH,'(//div[@class="_2WkVRV"])')    #_2WkVRV
print(len(Brand_tags))

40

In [80]:
Brand = []
for i in Brand_tags:
    Brand.append(i.text)
len(Brand)

40

In [81]:
Brand

['ROZZETTA CRAFT',
 'VINCENT CHASE',
 'DAHAAZIL',
 'New Specs',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SRPM',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'NuVew',
 'PIRASO',
 'Lee Topper',
 'GANSTA',
 'Lee Topper',
 'CRYSTAL CART',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'HAMIW COLLECTION',
 'SUNBEE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'CRYSTAL CART',
 'kingsunglasses',
 'Lee Topper',
 'AISLIN',
 'Sewell',
 'Fastrack',
 'Fastrack',
 'ROYAL SON']

In [82]:
product_tags=driver.find_elements(By.XPATH,'(//a[@class="IRpwTa"])') 
print(len(product_tags))

40

In [83]:
Product_Description = []
for i in product_tags:
    Product_Description.append(i.text)
len(Product_Description)

40

In [84]:
Product_Description

['UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Polarized Retro Square Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (60)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Oval, Aviator Sunglasses (58)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)']

In [85]:
price_tags=driver.find_elements(By.XPATH,'(//div[@class="_30jeq3"])') 
print(len(price_tags))

40

In [86]:
price = []
for i in price_tags:
    price.append(i.text)
len(price)

40

In [87]:
price

['379',
 '649',
 '177',
 '264',
 '249',
 '639',
 '359',
 '379',
 '719',
 '249',
 '474',
 '699',
 '211',
 '246',
 '195',
 '759',
 '291',
 '226',
 '229',
 '314',
 '299',
 '189',
 '331',
 '759',
 '303',
 '199',
 '259',
 '899',
 '719',
 '809',
 '379',
 '569',
 '529',
 '214',
 '245',
 '995',
 '265',
 '799',
 '719',
 '711']

In [88]:
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_btn

In [89]:
next_btn.click()

In [90]:
Brand_tags=driver.find_elements(By.XPATH,'(//div[@class="_2WkVRV"])') 
print(len(Brand_tags))

40

In [91]:
Brand = []
for i in Brand_tags:
    Brand.append(i.text)
len(Brand)

40

In [92]:
Brand

['kingsunglasses',
 'PIRASO',
 'VINCENT CHASE',
 'AISLIN',
 'DEIXELS',
 'Hamiw',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'kingsunglasses',
 'IZAAN MART',
 'Elligator',
 'New Specs',
 'AISLIN',
 'Arnette',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'GANSTA',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'New Specs',
 'ROZZETTA CRAFT',
 'PIRASO',
 'AISLIN',
 'LIZA ANGEL',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'PHENOMENAL',
 'Fastrack',
 'AISLIN',
 'DEIXELS',
 'Singco India',
 'kingsunglasses',
 'Urbanic',
 'IZAAN MART']

In [93]:
product_tags=driver.find_elements(By.XPATH,'(//a[@class="IRpwTa"])') 
print(len(product_tags))

40

In [94]:
Product_Description = []
for i in product_tags:
    Product_Description.append(i.text)
len(Product_Description)

40

In [95]:
Product_Description

['UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (52)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Toughened Glass Lens, UV Protection Aviator, Wayfarer S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Round Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, Gradient Cat-eye Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Others Oval Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (61)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Round Sunglasses (Free Size)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (Free ...']

In [96]:
price_tags=driver.find_elements(By.XPATH,'(//div[@class="_30jeq3"])') 
print(len(price_tags))

40

In [97]:
price = []
for i in price_tags:
    price.append(i.text)
len(price)

40

In [98]:
price

['189',
 '306',
 '749',
 '975',
 '224',
 '239',
 '1,039',
 '616',
 '639',
 '269',
 '213',
 '197',
 '207',
 '299',
 '498',
 '3,199',
 '379',
 '419',
 '246',
 '314',
 '324',
 '498',
 '474',
 '1,234',
 '214',
 '426',
 '279',
 '498',
 '179',
 '809',
 '639',
 '699',
 '341',
 '719',
 '498',
 '217',
 '598',
 '329',
 '719',
 '530']

In [99]:
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_btn

In [100]:
next_btn.click()

In [101]:
Brand_tags=driver.find_elements(By.XPATH,'(//div[@class="_2WkVRV"])') 
print(len(Brand_tags))

40

In [102]:
Brand = []
for i in Brand_tags:
    Brand.append(i.text)
len(Brand)

40

In [103]:
Brand

['SUNBEE',
 'ROZZETTA CRAFT',
 'SRPM',
 'NuVew',
 'ROYAL SON',
 'Silver Kartz',
 'hipe',
 'AISLIN',
 'HAMIW COLLECTION',
 'ROYAL SON',
 'SRPM',
 'ROYAL SON',
 'New Specs',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROYAL SON',
 'Mi',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'AISLIN',
 'Fastrack',
 'Singco India',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'PHENOMENAL',
 'NuVew',
 'Fastrack',
 'Elligator',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'kingsunglasses',
 'Roadster',
 'VINCENT CHASE']

In [104]:
product_tags=driver.find_elements(By.XPATH,'(//a[@class="IRpwTa"])') 
print(len(product_tags))

40

In [105]:
Product_Description = []
for i in product_tags:
    Product_Description.append(i.text)
len(Product_Description)

40

In [106]:
Product_Description

['UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Gradient, Riding Glasses Round Sunglasses (55...',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Polarized Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (54)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'Others Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)']

In [107]:
price_tags=driver.find_elements(By.XPATH,'(//div[@class="_30jeq3"])') 
print(len(price_tags))

40

In [108]:
price = []
for i in price_tags:
    price.append(i.text)
len(price)

40

In [109]:
price

['283',
 '379',
 '233',
 '385',
 '699',
 '288',
 '210',
 '498',
 '219',
 '379',
 '235',
 '799',
 '268',
 '729',
 '639',
 '759',
 '849',
 '474',
 '1,009',
 '711',
 '849',
 '299',
 '949',
 '498',
 '809',
 '664',
 '639',
 '569',
 '721',
 '849',
 '369',
 '198',
 '949',
 '329',
 '314',
 '749',
 '639',
 '299',
 '649',
 '749']

In [110]:
sunglasses=pd.DataFrame()
sunglasses['Brand']=Brand+Brand+Brand
sunglasses['Product_Description']=Product_Description+Product_Description+Product_Description
sunglasses['price']=price+price+price
sunglasses[0:100]

             Brand                                Product_Description   price
0           SUNBEE  UV Protection, Polarized, Mirrored Wayfarer Su...    283
1   ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...    379
2             SRPM  Night Vision, UV Protection Round Sunglasses (54)    233
3            NuVew              UV Protection Cat-eye Sunglasses (60)    385
4        ROYAL SON  UV Protection, Gradient Butterfly Sunglasses (62)    699
..             ...                                                ...     ...
95       ROYAL SON  Polarized, UV Protection Wrap-around Sunglasse...    759
96   VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)    849
97       ROYAL SON  UV Protection Rectangular, Retro Square Sungla...    474
98              Mi           Polarized Aviator Sunglasses (Free Size)  1,009
99       ROYAL SON   Polarized, UV Protection Aviator Sunglasses (58)    711

[100 rows x 3 columns]

# SEL Q5

In [111]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [113]:
import time

In [114]:
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

In [115]:
#scraping 10 pages url
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [116]:
print(len(stars),len(short_review),len(complete_review))

100 100 100

In [117]:
Phone=pd.DataFrame()
Phone['Rating']=stars
Phone['short_review']=short_review
Phone['complete_review']=complete_review
Phone

,Rating,short_review,complete_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Best in the market!,Dont expect much from front camera especiall...
99,5,Fabulous!,I purchased the iPhone 11 a month back. I must...

# SEL Q6

In [118]:
url='https://www.flipkart.com/'
driver.get(url)

In [119]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search

In [120]:
search.send_keys("sneakers")

In [121]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [122]:
search_btn.click()

In [123]:
Brand_tags=driver.find_elements(By.XPATH,'(//div[@class="_2WkVRV"])')    
print(len(Brand_tags))

40

In [124]:
Brand = []
for i in Brand_tags:
    Brand.append(i.text)
len(Brand)

40

In [125]:
price_tags=driver.find_elements(By.XPATH,'(//div[@class="_30jeq3"])') 
print(len(price_tags))

40

In [126]:
price = []
for i in price_tags:
    price.append(i.text)
len(price)

40

In [127]:
product_tags=driver.find_elements(By.XPATH,'(//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"])')   #IRpwTa _2-ICcC
print(len(product_tags))

40

In [128]:
Product_Description = []
for i in product_tags:
    Product_Description.append(i.text)
len(Product_Description)

40

In [129]:
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [130]:
next_btn.click()

In [131]:
Brand_tags=driver.find_elements(By.XPATH,'(//div[@class="_2WkVRV"])')    
print(len(Brand_tags))

40

In [132]:
Brand = []
for i in Brand_tags:
    Brand.append(i.text)
len(Brand)

40

In [133]:
price_tags=driver.find_elements(By.XPATH,'(//div[@class="_30jeq3"])') 
print(len(price_tags))

40

In [134]:
price = []
for i in price_tags:
    price.append(i.text)
len(price)

40

In [135]:
product_tags=driver.find_elements(By.XPATH,'(//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"])')   #IRpwTa _2-ICcC
print(len(product_tags))

40

In [136]:
Product_Description = []
for i in product_tags:
    Product_Description.append(i.text)
len(Product_Description)

40

In [137]:
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [138]:
next_btn.click()

In [139]:
Brand_tags=driver.find_elements(By.XPATH,'(//div[@class="_2WkVRV"])')    
print(len(Brand_tags))

40

In [140]:
Brand = []
for i in Brand_tags:
    Brand.append(i.text)
len(Brand)

40

In [141]:
price_tags=driver.find_elements(By.XPATH,'(//div[@class="_30jeq3"])') 
print(len(price_tags))

40

In [142]:
price = []
for i in price_tags:
    price.append(i.text)
len(price)

40

In [143]:
product_tags=driver.find_elements(By.XPATH,'(//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"])')   #IRpwTa _2-ICcC
print(len(product_tags))

40

In [144]:
Product_Description = []
for i in product_tags:
    Product_Description.append(i.text)
len(Product_Description)

40

In [145]:
Sneakers=pd.DataFrame()
Sneakers['Brand']=Brand+Brand+Brand
Sneakers['Product_Description']=Product_Description+Product_Description+Product_Description
Sneakers['price']=price+price+price
Sneakers[0:100]

,Brand,Product_Description,price
0,HRX by Hrithik Roshan,Sneakers For Men,"1,359"
1,PUMA,Suede Classic+ Sneakers For Men,"2,799"
2,TrendWalk,Original Luxury Branded Fashionable Men's Casu...,540
3,Nilatin,Sneakers For Men,549
4,PREKANZO,New Stylish Casual Sneakers For Women,495
...,...,...,...
95,KWIK FIT,Casual Trendy Fashion Sport Sneaker Shoes Gym ...,499
96,PUMA,BMW MMS Electron E Pro Sneakers For Men,"3,249"
97,SPARX,Sneakers For Men,756
98,Hida,Sneakers For Men,501
99,LOUIS PHILIPPE,Sneakers For Men,"2,199"

# SEL Q7
was not able to scrap

# SEL Q8

In [154]:
driver = webdriver.Chrome('chromedriver.exe')

In [155]:
url='https://www.amazon.in/'
driver.get(url)

In [156]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search

In [157]:
search.send_keys("Laptop")

In [158]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn

In [159]:
search_btn.click()

In [160]:
CPU_Type = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/span")
CPU_Type

In [161]:
CPU_Type.click()

In [162]:
Title_tags=driver.find_elements(By.XPATH,'(//div[@class="a-section a-spacing-none s-padding-right-small s-title-instructions-style"])')    
print(len(Title_tags))

16

In [163]:
Title = []
for i in Title_tags:
    Title.append(i.text)
len(Title)

16

In [164]:
Title[0:10]

['Acer Predator Helios 500 Gaming Laptop (11Th Gen Intel Core I9/17.3 Inches 4K Uhd Display/64Gb Ddr4 Ram/2Tb Ssd/1Tb HDD/RTX 3080 Graphics/Windows 10 Home/Per Key RGB Backlit Keyboard) Ph517-52',
 'Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K Wqhd 240Hz/3Ms Intel Core I9-12900H 12Th Gen Rtx 3070 Ti 8Gb Graphics, Gaming Laptop (32Gb/1Tb Ssd/Windows 11 Home/Office 2021/Black/2.3 Kg) G533Zw-Ln136Ws',
 'Acer Predator Helios 300 11Th Gen Intel Core I9-11900H 15.6 Inches (39.62Cms) Fhd Ips Gaming Laptop (16 Gb/1Tb Ssd/Windows 11 Home/6 Gb Graphics/Nvidia Geforce Rtx 3060/360 Hz, Black, 2.3 Kg) Ph315-54',
 'Hp Envy 15- 11Th Gen Intel Core I9/32Gb/1Tb Ssd/15.6 Inches 400 Nits,4K Amoled Touch, Tuv + Windows 11 Pro 64/Nvidia Geforce RTX 3060 6Gb Graphics/Alexa/Fpr /B&O/2.14Kg,15-Ep1087Tx, Natural Silver',
 'ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) FHD+ 16:10, 120Hz Touch, Core i9 12th Gen, RTX 3050 Ti 4GB Graphics, 2-in-1 Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/1.18 kg), GZ301ZE-LD064WS',
 'Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K Wqhd 240Hz/3Ms Intel Core I9-12900H 12Th Gen RTX 3070 Ti 8Gb Graphics Gaming Laptop (32Gb/2Tb Ssd/Windows 11 Home/Office 2021/Black/2.3 Kg) G533Zw-Ln106Ws',
 'MSI Gaming Stealth GS66, Intel 12th Gen. i9-12900H, 15.6" QHD 240Hz Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 11 Home/Nvidia RTX 3070Ti 8GB GDDR 6/ Black/2.1Kg), 12UGS-038IN',
 'ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) UHD+ 16:10 Touch, Core i9-12900H 12th Gen, RTX 3050 Ti 4GB Graphics, 2-in-1 Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/1.18 kg), GZ301ZE-LC192WS',
 'ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) UHD+ 16:10 Touch, Core i9-12900H 12th Gen, RTX 3050 Ti 4GB Graphics, 2-in-1 Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/1.18 kg), GZ301ZE-LC193WS',
 'Dell New Alienware x15 R2 Gaming Laptop, Intel i9-12900H, Win11+MSO\'21 , 32GB LP DDR5, 1TB SSD, NVIDIA RTX 3080 Ti (16GB GDDR6), 15.6" (39.62Cms) FHD 360Hz 300nits, AlienFX KB (D569942WIN9, 2.34Kgs)']

In [165]:
price_tags=driver.find_elements(By.XPATH,'(//span[@class="a-price-whole"])')    
print(len(price_tags))

15

In [166]:
Price = []
for i in price_tags:
    Price.append(i.text)
len(Price)

15

In [167]:
Price[0:10]

['3,79,990',
 '2,36,494',
 '1,44,990',
 '2,02,617',
 '1,81,990',
 '2,75,500',
 '3,23,741',
 '1,91,990',
 '3,21,990',
 '3,57,690']

# SEL Q 9

In [168]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [169]:
jobs_btn=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
jobs_btn

In [170]:
jobs_btn.click()

In [171]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search

In [172]:
search.send_keys("Data Scientist")

In [173]:
search_btn=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_btn

In [174]:
search_btn.click()

In [175]:
Loc_btn=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
Loc_btn

In [177]:
Loca_btn=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")

In [179]:
Comapany_tags=driver.find_elements(By.XPATH,'(//div[@class="company-info"])')    
print(len(Comapany_tags))

11

In [180]:
Company = []
for i in Comapany_tags:
    Company.append(i.text)
len(Company)

11

In [181]:
Company

['Amazon\n  \n4.2\nbased on 14.9k Reviews',
 'Amazon\n4.2\n(14.9k Reviews)',
 'J.P. Morgan Services India Private Limited\n4.2\n(3.3k Reviews)',
 'CATERPILLAR INDIA PRIVATE LTD\n4.2\n(806 Reviews)',
 'CATERPILLAR INDIA PRIVATE LTD\n4.2\n(806 Reviews)',
 'IBM India Pvt. Limited\n4.2\n(14.7k Reviews)',
 'Shell India Markets Private Limited\n4.4\n(1.1k Reviews)',
 'IBM India Pvt. Limited\n4.2\n(14.7k Reviews)',
 'Schneider Electric India Pvt. Ltd.\n4.2\n(3.7k Reviews)',
 'IBM India Pvt. Limited\n4.2\n(14.7k Reviews)',
 'IBM India Pvt. Limited\n4.2\n(14.7k Reviews)']

In [182]:
Posting_tags=driver.find_elements(By.XPATH,'(//span[@class="body-small-l"])')    
print(len(Posting_tags))

20

In [183]:
Posting = []
for i in Posting_tags:
    Posting.append(i.text)
len(Posting)

20

In [184]:
Posting

['2d ago',
 'via iimjobs.com',
 '2d ago',
 'via naukri.com',
 '1d ago',
 'via naukri.com',
 '1d ago',
 'via naukri.com',
 '4d ago',
 'via naukri.com',
 '2d ago',
 'via naukri.com',
 '5d ago',
 'via naukri.com',
 '5d ago',
 'via naukri.com',
 '5d ago',
 'via naukri.com',
 '5d ago',
 'via naukri.com']

# SEL Q10

In [185]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [186]:
salery_btn=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
salery_btn

In [187]:
salery_btn.click()

In [188]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input")
search

In [189]:
search.send_keys("Data Scientist")

In [190]:
search_btn=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div/div/div/button")
search_btn

In [191]:
search_btn.click()

In [192]:
Job_btn=driver.find_element(By.XPATH,"/html/body/section[1]/div/section/div/div/div/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a")
Job_btn

In [193]:
Job_btn.click()